@media screen and ( max-width : 360px ) {

  .recipes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .recipesimg {
    background-color: #421880;
    border-radius: 5px;
    padding: 2px;
    width: 120px;
  }

  .recipename {
    background-color: #421880;
    border-radius: 5px;
    color: white;
  }

  .columns {
    text-align: center;
  }
}
